<a href="https://colab.research.google.com/github/izumis007/100knocks-preprocess/blob/master/docker/work/preprocess_100knock_polars_001_050.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# データサイエンス100本ノック（構造化データ加工編） - Polars

## はじめに
- データサイエンス100本ノックをPythonのPolarsで解いています
  - https://github.com/The-Japan-DataScientist-Society/100knocks-preprocess
- 上のGithubにあげられている「Colaboratory(Python解答)」を参考にしている部分があります。なお、表示される解答が一致することは確認しています
  - https://colab.research.google.com/github/The-Japan-DataScientist-Society/100knocks-preprocess/blob/master/docker/work/answer/ans_preprocess_knock_Python.ipynb
- 前半（1-50）までを解いています

## 準備

In [1]:
!pip install polars

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting polars
  Downloading polars-0.15.16-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (15.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.2/15.2 MB 42.0 MB/s eta 0:00:00
Requirement already satisfied: typing_extensions>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from polars) (4.4.0)
Installing collected packages: polars
Successfully installed polars-0.15.16

In [2]:
import os
import polars as pl

if not os.path.exists('../data/'):
    !git clone https://github.com/The-Japan-DataScientist-Society/100knocks-preprocess
    os.chdir('100knocks-preprocess/docker/work/answer')

dtypes = {
    'customer_id': str,
    'gender_cd': str,
    'postal_cd': str,
    'application_store_cd': str,
    'status_cd': str,
    'category_major_cd': str,
    'category_medium_cd': str,
    'category_small_cd': str,
    'product_cd': str,
    'store_cd': str,
    'prefecture_cd': str,
    'tel_no': str,
    'postal_cd': str,
    'street': str,
    'application_date': str,
    'birth_day': pl.Date
}

df_customer = pl.read_csv("../data/customer.csv", dtypes=dtypes)
df_category = pl.read_csv("../data/category.csv", dtypes=dtypes)
df_product = pl.read_csv("../data/product.csv", dtypes=dtypes)
df_receipt = pl.read_csv("../data/receipt.csv", dtypes=dtypes)
df_store = pl.read_csv("../data/store.csv", dtypes=dtypes)
df_geocode = pl.read_csv("../data/geocode.csv", dtypes=dtypes)

Cloning into '100knocks-preprocess'...
remote: Enumerating objects: 1557, done.
remote: Counting objects: 100% (123/123), done.
remote: Compressing objects: 100% (75/75), done.
remote: Total 1557 (delta 47), reused 100 (delta 36), pack-reused 1434
Receiving objects: 100% (1557/1557), 20.78 MiB | 24.40 MiB/s, done.
Resolving deltas: 100% (826/826), done.

In [3]:
pl.__version__

'0.15.16'

## P-001 ~ P-010

---
> P-001: レシート明細データ（df_receipt）から全項目の先頭10件を表示し、どのようなデータを保有しているか目視で確認せよ。

In [4]:
df_receipt.head(10)

shape: (10, 9)
┌───────────┬───────────┬──────────┬──────────┬─────┬───────────┬──────────────┬──────────┬────────┐
│ sales_ymd ┆ sales_epo ┆ store_cd ┆ receipt_ ┆ ... ┆ customer_ ┆ product_cd   ┆ quantity ┆ amount │
│ ---       ┆ ch        ┆ ---      ┆ no       ┆     ┆ id        ┆ ---          ┆ ---      ┆ ---    │
│ i64       ┆ ---       ┆ str      ┆ ---      ┆     ┆ ---       ┆ str          ┆ i64      ┆ i64    │
│           ┆ i64       ┆          ┆ i64      ┆     ┆ str       ┆              ┆          ┆        │
╞═══════════╪═══════════╪══════════╪══════════╪═════╪═══════════╪══════════════╪══════════╪════════╡
│ 20181103  ┆ 154120320 ┆ S14006   ┆ 112      ┆ ... ┆ CS0062140 ┆ P070305012   ┆ 1        ┆ 158    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00001     ┆              ┆          ┆        │
│ 20181118  ┆ 154249920 ┆ S13008   ┆ 1132     ┆ ... ┆ CS0084150 ┆ P070701017   ┆ 1        ┆ 81     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00097     ┆              ┆          ┆        │
│ 20170712  ┆ 149981760 ┆ S14028   ┆ 1102     ┆ ... ┆ CS0284140 ┆ P060101005   ┆ 1        ┆ 170    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00014     ┆              ┆          ┆        │
│ 20190205  ┆ 154932480 ┆ S14042   ┆ 1132     ┆ ... ┆ ZZ0000000 ┆ P050301001   ┆ 1        ┆ 25     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00000     ┆              ┆          ┆        │
│ ...       ┆ ...       ┆ ...      ┆ ...      ┆ ... ┆ ...       ┆ ...          ┆ ...      ┆ ...    │
│ 20181205  ┆ 154396800 ┆ S14024   ┆ 1102     ┆ ... ┆ CS0245140 ┆ P080101005   ┆ 1        ┆ 30     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00042     ┆              ┆          ┆        │
│ 20190922  ┆ 156911040 ┆ S14040   ┆ 1102     ┆ ... ┆ CS0404150 ┆ P070501004   ┆ 1        ┆ 128    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00178     ┆              ┆          ┆        │
│ 20170504  ┆ 149385600 ┆ S13020   ┆ 1112     ┆ ... ┆ ZZ0000000 ┆ P071302010   ┆ 1        ┆ 770    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00000     ┆              ┆          ┆        │
│ 20191010  ┆ 157066560 ┆ S14027   ┆ 1102     ┆ ... ┆ CS0275140 ┆ P071101003   ┆ 1        ┆ 680    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00015     ┆              ┆          ┆        │
└───────────┴───────────┴──────────┴──────────┴─────┴───────────┴──────────────┴──────────┴────────┘

In [ ]:
df_receipt.head(10)

shape: (10, 9)
┌───────────┬───────────┬──────────┬──────────┬─────┬───────────┬──────────────┬──────────┬────────┐
│ sales_ymd ┆ sales_epo ┆ store_cd ┆ receipt_ ┆ ... ┆ customer_ ┆ product_cd   ┆ quantity ┆ amount │
│ ---       ┆ ch        ┆ ---      ┆ no       ┆     ┆ id        ┆ ---          ┆ ---      ┆ ---    │
│ i64       ┆ ---       ┆ str      ┆ ---      ┆     ┆ ---       ┆ str          ┆ i64      ┆ i64    │
│           ┆ i64       ┆          ┆ i64      ┆     ┆ str       ┆              ┆          ┆        │
╞═══════════╪═══════════╪══════════╪══════════╪═════╪═══════════╪══════════════╪══════════╪════════╡
│ 20181103  ┆ 154120320 ┆ S14006   ┆ 112      ┆ ... ┆ CS0062140 ┆ P070305012   ┆ 1        ┆ 158    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00001     ┆              ┆          ┆        │
│ 20181118  ┆ 154249920 ┆ S13008   ┆ 1132     ┆ ... ┆ CS0084150 ┆ P070701017   ┆ 1        ┆ 81     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00097     ┆              ┆          ┆        │
│ 20170712  ┆ 149981760 ┆ S14028   ┆ 1102     ┆ ... ┆ CS0284140 ┆ P060101005   ┆ 1        ┆ 170    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00014     ┆              ┆          ┆        │
│ 20190205  ┆ 154932480 ┆ S14042   ┆ 1132     ┆ ... ┆ ZZ0000000 ┆ P050301001   ┆ 1        ┆ 25     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00000     ┆              ┆          ┆        │
│ ...       ┆ ...       ┆ ...      ┆ ...      ┆ ... ┆ ...       ┆ ...          ┆ ...      ┆ ...    │
│ 20181205  ┆ 154396800 ┆ S14024   ┆ 1102     ┆ ... ┆ CS0245140 ┆ P080101005   ┆ 1        ┆ 30     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00042     ┆              ┆          ┆        │
│ 20190922  ┆ 156911040 ┆ S14040   ┆ 1102     ┆ ... ┆ CS0404150 ┆ P070501004   ┆ 1        ┆ 128    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00178     ┆              ┆          ┆        │
│ 20170504  ┆ 149385600 ┆ S13020   ┆ 1112     ┆ ... ┆ ZZ0000000 ┆ P071302010   ┆ 1        ┆ 770    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00000     ┆              ┆          ┆        │
│ 20191010  ┆ 157066560 ┆ S14027   ┆ 1102     ┆ ... ┆ CS0275140 ┆ P071101003   ┆ 1        ┆ 680    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00015     ┆              ┆          ┆        │
└───────────┴───────────┴──────────┴──────────┴─────┴───────────┴──────────────┴──────────┴────────┘

---
> P-002: レシート明細データ（df_receipt）から売上年月日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示せよ。

In [7]:
df_receipt.select(["sales_ymd", "customer_id", "product_cd", "amount"]).head(10)

shape: (10, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20181103  ┆ CS006214000001 ┆ P070305012 ┆ 158    │
│ 20181118  ┆ CS008415000097 ┆ P070701017 ┆ 81     │
│ 20170712  ┆ CS028414000014 ┆ P060101005 ┆ 170    │
│ 20190205  ┆ ZZ000000000000 ┆ P050301001 ┆ 25     │
│ ...       ┆ ...            ┆ ...        ┆ ...    │
│ 20181205  ┆ CS024514000042 ┆ P080101005 ┆ 30     │
│ 20190922  ┆ CS040415000178 ┆ P070501004 ┆ 128    │
│ 20170504  ┆ ZZ000000000000 ┆ P071302010 ┆ 770    │
│ 20191010  ┆ CS027514000015 ┆ P071101003 ┆ 680    │
└───────────┴────────────────┴────────────┴────────┘

In [ ]:
df_receipt.select(['sales_ymd', 'customer_id', 'product_cd', 'amount']).head(10)

shape: (10, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20181103  ┆ CS006214000001 ┆ P070305012 ┆ 158    │
│ 20181118  ┆ CS008415000097 ┆ P070701017 ┆ 81     │
│ 20170712  ┆ CS028414000014 ┆ P060101005 ┆ 170    │
│ 20190205  ┆ ZZ000000000000 ┆ P050301001 ┆ 25     │
│ ...       ┆ ...            ┆ ...        ┆ ...    │
│ 20181205  ┆ CS024514000042 ┆ P080101005 ┆ 30     │
│ 20190922  ┆ CS040415000178 ┆ P070501004 ┆ 128    │
│ 20170504  ┆ ZZ000000000000 ┆ P071302010 ┆ 770    │
│ 20191010  ┆ CS027514000015 ┆ P071101003 ┆ 680    │
└───────────┴────────────────┴────────────┴────────┘

---
> P-003: レシート明細データ（df_receipt）から売上年月日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示せよ。ただし、sales_ymdsales_dateに項目名を変更しながら抽出すること。

In [8]:
df_receipt.select([
    pl.col("sales_ymd").alias("sales_date"), "customer_id", "product_cd", "amount"
]).head(10)

shape: (10, 4)
┌────────────┬────────────────┬────────────┬────────┐
│ sales_date ┆ customer_id    ┆ product_cd ┆ amount │
│ ---        ┆ ---            ┆ ---        ┆ ---    │
│ i64        ┆ str            ┆ str        ┆ i64    │
╞════════════╪════════════════╪════════════╪════════╡
│ 20181103   ┆ CS006214000001 ┆ P070305012 ┆ 158    │
│ 20181118   ┆ CS008415000097 ┆ P070701017 ┆ 81     │
│ 20170712   ┆ CS028414000014 ┆ P060101005 ┆ 170    │
│ 20190205   ┆ ZZ000000000000 ┆ P050301001 ┆ 25     │
│ ...        ┆ ...            ┆ ...        ┆ ...    │
│ 20181205   ┆ CS024514000042 ┆ P080101005 ┆ 30     │
│ 20190922   ┆ CS040415000178 ┆ P070501004 ┆ 128    │
│ 20170504   ┆ ZZ000000000000 ┆ P071302010 ┆ 770    │
│ 20191010   ┆ CS027514000015 ┆ P071101003 ┆ 680    │
└────────────┴────────────────┴────────────┴────────┘

In [ ]:
df_receipt.select([
    pl.col('sales_ymd').alias('sales_date'), 'customer_id', 'product_cd', 'amount'
]).head(10)

shape: (10, 4)
┌────────────┬────────────────┬────────────┬────────┐
│ sales_date ┆ customer_id    ┆ product_cd ┆ amount │
│ ---        ┆ ---            ┆ ---        ┆ ---    │
│ i64        ┆ str            ┆ str        ┆ i64    │
╞════════════╪════════════════╪════════════╪════════╡
│ 20181103   ┆ CS006214000001 ┆ P070305012 ┆ 158    │
│ 20181118   ┆ CS008415000097 ┆ P070701017 ┆ 81     │
│ 20170712   ┆ CS028414000014 ┆ P060101005 ┆ 170    │
│ 20190205   ┆ ZZ000000000000 ┆ P050301001 ┆ 25     │
│ ...        ┆ ...            ┆ ...        ┆ ...    │
│ 20181205   ┆ CS024514000042 ┆ P080101005 ┆ 30     │
│ 20190922   ┆ CS040415000178 ┆ P070501004 ┆ 128    │
│ 20170504   ┆ ZZ000000000000 ┆ P071302010 ┆ 770    │
│ 20191010   ┆ CS027514000015 ┆ P071101003 ┆ 680    │
└────────────┴────────────────┴────────────┴────────┘

---
> P-004: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"

In [10]:
df_receipt.select([
    "sales_ymd", "customer_id", "product_cd", "amount"
]).filter(
    pl.col("customer_id") == "CS018205000001"
)

shape: (12, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 600    │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 990    │
│ 20170614  ┆ CS018205000001 ┆ P060702015 ┆ 108    │
│ ...       ┆ ...            ┆ ...        ┆ ...    │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
│ 20190216  ┆ CS018205000001 ┆ P040101002 ┆ 218    │
│ 20190924  ┆ CS018205000001 ┆ P091503001 ┆ 280    │
└───────────┴────────────────┴────────────┴────────┘

In [ ]:
df_receipt.select([
    'sales_ymd', 'customer_id', 'product_cd', 'amount'
]).filter(
    pl.col('customer_id') == "CS018205000001"
)

shape: (12, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 600    │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 990    │
│ 20170614  ┆ CS018205000001 ┆ P060702015 ┆ 108    │
│ ...       ┆ ...            ┆ ...        ┆ ...    │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
│ 20190216  ┆ CS018205000001 ┆ P040101002 ┆ 218    │
│ 20190924  ┆ CS018205000001 ┆ P091503001 ┆ 280    │
└───────────┴────────────────┴────────────┴────────┘

---
> P-005: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上

In [15]:
df_receipt.select([
    "sales_ymd", "customer_id", "product_cd", "amount"
]).filter(
    (pl.col("customer_id") == "CS018205000001") &
    (pl.col("amount") >= 1000)
)

shape: (3, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
└───────────┴────────────────┴────────────┴────────┘

In [ ]:
df_receipt.select([
    'sales_ymd', 'customer_id', 'product_cd', 'amount'
]).filter(
    (pl.col('customer_id') == "CS018205000001") & 
    (pl.col('amount') >= 1000)
)

shape: (3, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
└───────────┴────────────────┴────────────┴────────┘

---
> P-006: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [18]:
df_receipt.select([
    "sales_ymd", "customer_id", "product_cd", "quantity", "amount"
]).filter(
    (pl.col("customer_id") == "CS018205000001") &
    (pl.col("amount") >= 1000) |
    (pl.col("quantity") >= 5)
)

shape: (6, 5)
┌───────────┬────────────────┬────────────┬──────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ quantity ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---      ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64      ┆ i64    │
╞═══════════╪════════════════╪════════════╪══════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 1        ┆ 2200   │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 6        ┆ 600    │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 5        ┆ 990    │
│ 20190610  ┆ CS037414000080 ┆ P090401002 ┆ 8        ┆ 640    │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 1        ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1        ┆ 1100   │
└───────────┴────────────────┴────────────┴──────────┴────────┘

In [ ]:
df_receipt.select([
    'sales_ymd', 'customer_id', 'product_cd', 'quantity', 'amount'
]).filter(
    (pl.col('customer_id') == "CS018205000001") & 
    ((pl.col('amount') >= 1000) | (pl.col('quantity') >=5))
)

shape: (5, 5)
┌───────────┬────────────────┬────────────┬──────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ quantity ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---      ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64      ┆ i64    │
╞═══════════╪════════════════╪════════════╪══════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 1        ┆ 2200   │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 6        ┆ 600    │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 5        ┆ 990    │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 1        ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1        ┆ 1100   │
└───────────┴────────────────┴────────────┴──────────┴────────┘

---
> P-007: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上2,000以下

In [19]:
df_receipt.select([
    "sales_ymd", "customer_id", "product_cd", "amount"
]).filter(
    (pl.col("customer_id") == "CS018205000001") &
    (pl.col("amount") >= 1000) &
    (pl.col("amount") <= 2000)
)

shape: (1, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
└───────────┴────────────────┴────────────┴────────┘

In [ ]:
df_receipt.select([
    'sales_ymd', 'customer_id', 'product_cd', 'amount'
]).filter(
    (pl.col('customer_id') == "CS018205000001") & 
    (pl.col('amount').is_between(1000, 2000))
)

/usr/local/lib/python3.8/dist-packages/polars/internals/expr/expr.py:3433: FutureWarning: Default behaviour will change from excluding both bounds to including both bounds. Provide a value for the `closed` argument to silence this warning.
  warnings.warn(

shape: (1, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
└───────────┴────────────────┴────────────┴────────┘

---
> P-008: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 商品コード（product_cd）が"P071401019"以外

In [20]:
df_receipt.select([
    "sales_ymd", "customer_id", "product_cd", "amount"
]).filter(
    (pl.col("customer_id") == "CS018205000001") &
    (pl.col("product_cd") != "P071401019")
)

shape: (12, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 600    │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 990    │
│ 20170614  ┆ CS018205000001 ┆ P060702015 ┆ 108    │
│ ...       ┆ ...            ┆ ...        ┆ ...    │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
│ 20190216  ┆ CS018205000001 ┆ P040101002 ┆ 218    │
│ 20190924  ┆ CS018205000001 ┆ P091503001 ┆ 280    │
└───────────┴────────────────┴────────────┴────────┘

In [ ]:
df_receipt.select([
    'sales_ymd', 'customer_id', 'product_cd', 'amount'
]).filter(
    (pl.col('customer_id') == "CS018205000001") & 
    (pl.col('product_cd') != "P071401019")
)

shape: (12, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 600    │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 990    │
│ 20170614  ┆ CS018205000001 ┆ P060702015 ┆ 108    │
│ ...       ┆ ...            ┆ ...        ┆ ...    │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
│ 20190216  ┆ CS018205000001 ┆ P040101002 ┆ 218    │
│ 20190924  ┆ CS018205000001 ┆ P091503001 ┆ 280    │
└───────────┴────────────────┴────────────┴────────┘

---
> P-009: 以下の処理において、出力結果を変えずにORをANDに書き換えよ。
> 
> `df_store.query('not(prefecture_cd == "13" | floor_area > 900)')`

In [22]:
df_store.filter(
    (pl.col("prefecture_cd") != "13") &
    (pl.col("floor_area") <= 900)
)

shape: (3, 10)
┌──────────┬──────────┬────────────┬──────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ store_cd ┆ store_na ┆ prefecture ┆ prefectu ┆ ... ┆ tel_no     ┆ longitude ┆ latitude ┆ floor_ar │
│ ---      ┆ me       ┆ _cd        ┆ re       ┆     ┆ ---        ┆ ---       ┆ ---      ┆ ea       │
│ str      ┆ ---      ┆ ---        ┆ ---      ┆     ┆ str        ┆ f64       ┆ f64      ┆ ---      │
│          ┆ str      ┆ str        ┆ str      ┆     ┆            ┆           ┆          ┆ f64      │
╞══════════╪══════════╪════════════╪══════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ S14046   ┆ 北山田店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.5916  ┆ 35.56189 ┆ 831.0    │
│          ┆          ┆            ┆          ┆     ┆ 49         ┆           ┆          ┆          │
│ S14011   ┆ 日吉本町 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6316  ┆ 35.54655 ┆ 890.0    │
│          ┆ 店       ┆            ┆          ┆     ┆ 33         ┆           ┆          ┆          │
│ S12013   ┆ 習志野店 ┆ 12         ┆ 千葉県   ┆ ... ┆ 047-123-40 ┆ 140.022   ┆ 35.66122 ┆ 808.0    │
│          ┆          ┆            ┆          ┆     ┆ 02         ┆           ┆          ┆          │
└──────────┴──────────┴────────────┴──────────┴─────┴────────────┴───────────┴──────────┴──────────┘

In [ ]:
df_store.filter(
    (pl.col('prefecture_cd') != "13") & (pl.col('floor_area') <= 900)
)

shape: (3, 10)
┌──────────┬──────────┬────────────┬──────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ store_cd ┆ store_na ┆ prefecture ┆ prefectu ┆ ... ┆ tel_no     ┆ longitude ┆ latitude ┆ floor_ar │
│ ---      ┆ me       ┆ _cd        ┆ re       ┆     ┆ ---        ┆ ---       ┆ ---      ┆ ea       │
│ str      ┆ ---      ┆ ---        ┆ ---      ┆     ┆ str        ┆ f64       ┆ f64      ┆ ---      │
│          ┆ str      ┆ str        ┆ str      ┆     ┆            ┆           ┆          ┆ f64      │
╞══════════╪══════════╪════════════╪══════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ S14046   ┆ 北山田店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.5916  ┆ 35.56189 ┆ 831.0    │
│          ┆          ┆            ┆          ┆     ┆ 49         ┆           ┆          ┆          │
│ S14011   ┆ 日吉本町 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6316  ┆ 35.54655 ┆ 890.0    │
│          ┆ 店       ┆            ┆          ┆     ┆ 33         ┆           ┆          ┆          │
│ S12013   ┆ 習志野店 ┆ 12         ┆ 千葉県   ┆ ... ┆ 047-123-40 ┆ 140.022   ┆ 35.66122 ┆ 808.0    │
│          ┆          ┆            ┆          ┆     ┆ 02         ┆           ┆          ┆          │
└──────────┴──────────┴────────────┴──────────┴─────┴────────────┴───────────┴──────────┴──────────┘

---
> P-010: 店舗データ（df_store）から、店舗コード（store_cd）が"S14"で始まるものだけ全項目抽出し、10件表示せよ。

In [25]:
df_store.filter(pl.col("store_cd").str.starts_with("S14")).head(10)

shape: (10, 10)
┌──────────┬──────────┬────────────┬──────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ store_cd ┆ store_na ┆ prefecture ┆ prefectu ┆ ... ┆ tel_no     ┆ longitude ┆ latitude ┆ floor_ar │
│ ---      ┆ me       ┆ _cd        ┆ re       ┆     ┆ ---        ┆ ---       ┆ ---      ┆ ea       │
│ str      ┆ ---      ┆ ---        ┆ ---      ┆     ┆ str        ┆ f64       ┆ f64      ┆ ---      │
│          ┆ str      ┆ str        ┆ str      ┆     ┆            ┆           ┆          ┆ f64      │
╞══════════╪══════════╪════════════╪══════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ S14010   ┆ 菊名店   ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6326  ┆ 35.50049 ┆ 1732.0   │
│          ┆          ┆            ┆          ┆     ┆ 32         ┆           ┆          ┆          │
│ S14033   ┆ 阿久和店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4961  ┆ 35.45918 ┆ 1495.0   │
│          ┆          ┆            ┆          ┆     ┆ 43         ┆           ┆          ┆          │
│ S14036   ┆ 相模原中 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 042-123-40 ┆ 139.3716  ┆ 35.57327 ┆ 1679.0   │
│          ┆ 央店     ┆            ┆          ┆     ┆ 45         ┆           ┆          ┆          │
│ S14040   ┆ 長津田店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4994  ┆ 35.52398 ┆ 1548.0   │
│          ┆          ┆            ┆          ┆     ┆ 46         ┆           ┆          ┆          │
│ ...      ┆ ...      ┆ ...        ┆ ...      ┆ ... ┆ ...        ┆ ...       ┆ ...      ┆ ...      │
│ S14012   ┆ 本牧和田 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6582  ┆ 35.42156 ┆ 1341.0   │
│          ┆ 店       ┆            ┆          ┆     ┆ 34         ┆           ┆          ┆          │
│ S14046   ┆ 北山田店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.5916  ┆ 35.56189 ┆ 831.0    │
│          ┆          ┆            ┆          ┆     ┆ 49         ┆           ┆          ┆          │
│ S14022   ┆ 逗子店   ┆ 14         ┆ 神奈川県 ┆ ... ┆ 046-123-40 ┆ 139.5789  ┆ 35.29642 ┆ 1838.0   │
│          ┆          ┆            ┆          ┆     ┆ 36         ┆           ┆          ┆          │
│ S14011   ┆ 日吉本町 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6316  ┆ 35.54655 ┆ 890.0    │
│          ┆ 店       ┆            ┆          ┆     ┆ 33         ┆           ┆          ┆          │
└──────────┴──────────┴────────────┴──────────┴─────┴────────────┴───────────┴──────────┴──────────┘

In [ ]:
df_store.filter(pl.col('store_cd').str.starts_with('S14')).head(10)

shape: (10, 10)
┌──────────┬──────────┬────────────┬──────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ store_cd ┆ store_na ┆ prefecture ┆ prefectu ┆ ... ┆ tel_no     ┆ longitude ┆ latitude ┆ floor_ar │
│ ---      ┆ me       ┆ _cd        ┆ re       ┆     ┆ ---        ┆ ---       ┆ ---      ┆ ea       │
│ str      ┆ ---      ┆ ---        ┆ ---      ┆     ┆ str        ┆ f64       ┆ f64      ┆ ---      │
│          ┆ str      ┆ str        ┆ str      ┆     ┆            ┆           ┆          ┆ f64      │
╞══════════╪══════════╪════════════╪══════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ S14010   ┆ 菊名店   ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6326  ┆ 35.50049 ┆ 1732.0   │
│          ┆          ┆            ┆          ┆     ┆ 32         ┆           ┆          ┆          │
│ S14033   ┆ 阿久和店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4961  ┆ 35.45918 ┆ 1495.0   │
│          ┆          ┆            ┆          ┆     ┆ 43         ┆           ┆          ┆          │
│ S14036   ┆ 相模原中 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 042-123-40 ┆ 139.3716  ┆ 35.57327 ┆ 1679.0   │
│          ┆ 央店     ┆            ┆          ┆     ┆ 45         ┆           ┆          ┆          │
│ S14040   ┆ 長津田店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4994  ┆ 35.52398 ┆ 1548.0   │
│          ┆          ┆            ┆          ┆     ┆ 46         ┆           ┆          ┆          │
│ ...      ┆ ...      ┆ ...        ┆ ...      ┆ ... ┆ ...        ┆ ...       ┆ ...      ┆ ...      │
│ S14012   ┆ 本牧和田 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6582  ┆ 35.42156 ┆ 1341.0   │
│          ┆ 店       ┆            ┆          ┆     ┆ 34         ┆           ┆          ┆          │
│ S14046   ┆ 北山田店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.5916  ┆ 35.56189 ┆ 831.0    │
│          ┆          ┆            ┆          ┆     ┆ 49         ┆           ┆          ┆          │
│ S14022   ┆ 逗子店   ┆ 14         ┆ 神奈川県 ┆ ... ┆ 046-123-40 ┆ 139.5789  ┆ 35.29642 ┆ 1838.0   │
│          ┆          ┆            ┆          ┆     ┆ 36         ┆           ┆          ┆          │
│ S14011   ┆ 日吉本町 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6316  ┆ 35.54655 ┆ 890.0    │
│          ┆ 店       ┆            ┆          ┆     ┆ 33         ┆           ┆          ┆          │
└──────────┴──────────┴────────────┴──────────┴─────┴────────────┴───────────┴──────────┴──────────┘

## P-011 ~ P-020

---
> P-011: 顧客データ（df_customer）から顧客ID（customer_id）の末尾が1のものだけ全項目抽出し、10件表示せよ。

In [28]:
df_customer.filter(pl.col("customer_id").str.ends_with("1")).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0376130 ┆ 六角 雅彦  ┆ 9         ┆ 不明   ┆ ... ┆ 東京都江 ┆ S13037     ┆ 20150414   ┆ 0-00000 │
│ 00071     ┆            ┆           ┆        ┆     ┆ 東区南砂 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0288110 ┆ 堀井       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14028     ┆ 20160115   ┆ 0-00000 │
│ 00001     ┆ かおり     ┆           ┆        ┆     ┆ 横浜市泉 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 区和泉町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0404120 ┆ 川井 郁恵  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14040     ┆ 20151101   ┆ 1-20091 │
│ 00191     ┆            ┆           ┆        ┆     ┆ 横浜市緑 ┆            ┆            ┆ 025-4   │
│           ┆            ┆           ┆        ┆     ┆ 区北八朔 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0283140 ┆ 小菅       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14028     ┆ 20151123   ┆ 1-20080 │
│ 00011     ┆ あおい     ┆           ┆        ┆     ┆ 横浜市瀬 ┆            ┆            ┆ 426-5   │
│           ┆            ┆           ┆        ┆     ┆ 谷区宮沢 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0047020 ┆ 野島 洋    ┆ 0         ┆ 男性   ┆ ... ┆ 東京都練 ┆ S13004     ┆ 20170218   ┆ 0-00000 │
│ 00041     ┆            ┆           ┆        ┆     ┆ 馬区向山 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0415150 ┆ 栗田 千夏  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都多 ┆ S13041     ┆ 20160422   ┆ E-20100 │
│ 00001     ┆            ┆           ┆        ┆     ┆ 摩市和田 ┆            ┆            ┆ 803-F   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0293130 ┆ 北条       ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県浦 ┆ S12029     ┆ 20180810   ┆ 0-00000 │
│ 00221     ┆ ひかり     ┆           ┆        ┆     ┆ 安市美浜 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0343120 ┆ 望月 奈央  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14034     ┆ 20160106   ┆ 0-00000 │
│ 00071     ┆            ┆           ┆        ┆     ┆ 川崎市高 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 津区久末 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

In [ ]:
df_customer.filter(pl.col('customer_id').str.ends_with('1')).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0376130 ┆ 六角 雅彦  ┆ 9         ┆ 不明   ┆ ... ┆ 東京都江 ┆ S13037     ┆ 20150414   ┆ 0-00000 │
│ 00071     ┆            ┆           ┆        ┆     ┆ 東区南砂 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0288110 ┆ 堀井       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14028     ┆ 20160115   ┆ 0-00000 │
│ 00001     ┆ かおり     ┆           ┆        ┆     ┆ 横浜市泉 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 区和泉町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0404120 ┆ 川井 郁恵  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14040     ┆ 20151101   ┆ 1-20091 │
│ 00191     ┆            ┆           ┆        ┆     ┆ 横浜市緑 ┆            ┆            ┆ 025-4   │
│           ┆            ┆           ┆        ┆     ┆ 区北八朔 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0283140 ┆ 小菅       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14028     ┆ 20151123   ┆ 1-20080 │
│ 00011     ┆ あおい     ┆           ┆        ┆     ┆ 横浜市瀬 ┆            ┆            ┆ 426-5   │
│           ┆            ┆           ┆        ┆     ┆ 谷区宮沢 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0047020 ┆ 野島 洋    ┆ 0         ┆ 男性   ┆ ... ┆ 東京都練 ┆ S13004     ┆ 20170218   ┆ 0-00000 │
│ 00041     ┆            ┆           ┆        ┆     ┆ 馬区向山 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0415150 ┆ 栗田 千夏  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都多 ┆ S13041     ┆ 20160422   ┆ E-20100 │
│ 00001     ┆            ┆           ┆        ┆     ┆ 摩市和田 ┆            ┆            ┆ 803-F   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0293130 ┆ 北条       ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県浦 ┆ S12029     ┆ 20180810   ┆ 0-00000 │
│ 00221     ┆ ひかり     ┆           ┆        ┆     ┆ 安市美浜 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0343120 ┆ 望月 奈央  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14034     ┆ 20160106   ┆ 0-00000 │
│ 00071     ┆            ┆           ┆        ┆     ┆ 川崎市高 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 津区久末 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

---
> P-012: 店舗データ（df_store）から、住所 (address) に"横浜市"が含まれるものだけ全項目表示せよ。

In [29]:
df_store.filter(pl.col('address').str.contains('横浜市'))

shape: (11, 10)
┌──────────┬──────────┬────────────┬──────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ store_cd ┆ store_na ┆ prefecture ┆ prefectu ┆ ... ┆ tel_no     ┆ longitude ┆ latitude ┆ floor_ar │
│ ---      ┆ me       ┆ _cd        ┆ re       ┆     ┆ ---        ┆ ---       ┆ ---      ┆ ea       │
│ str      ┆ ---      ┆ ---        ┆ ---      ┆     ┆ str        ┆ f64       ┆ f64      ┆ ---      │
│          ┆ str      ┆ str        ┆ str      ┆     ┆            ┆           ┆          ┆ f64      │
╞══════════╪══════════╪════════════╪══════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ S14010   ┆ 菊名店   ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6326  ┆ 35.50049 ┆ 1732.0   │
│          ┆          ┆            ┆          ┆     ┆ 32         ┆           ┆          ┆          │
│ S14033   ┆ 阿久和店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4961  ┆ 35.45918 ┆ 1495.0   │
│          ┆          ┆            ┆          ┆     ┆ 43         ┆           ┆          ┆          │
│ S14040   ┆ 長津田店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4994  ┆ 35.52398 ┆ 1548.0   │
│          ┆          ┆            ┆          ┆     ┆ 46         ┆           ┆          ┆          │
│ S14050   ┆ 阿久和西 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4961  ┆ 35.45918 ┆ 1830.0   │
│          ┆ 店       ┆            ┆          ┆     ┆ 53         ┆           ┆          ┆          │
│ ...      ┆ ...      ┆ ...        ┆ ...      ┆ ... ┆ ...        ┆ ...       ┆ ...      ┆ ...      │
│ S14011   ┆ 日吉本町 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6316  ┆ 35.54655 ┆ 890.0    │
│          ┆ 店       ┆            ┆          ┆     ┆ 33         ┆           ┆          ┆          │
│ S14048   ┆ 中川中央 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.5758  ┆ 35.54912 ┆ 1657.0   │
│          ┆ 店       ┆            ┆          ┆     ┆ 51         ┆           ┆          ┆          │
│ S14042   ┆ 新山下店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6593  ┆ 35.43894 ┆ 1044.0   │
│          ┆          ┆            ┆          ┆     ┆ 47         ┆           ┆          ┆          │
│ S14006   ┆ 葛が谷店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.5633  ┆ 35.53573 ┆ 1886.0   │
│          ┆          ┆            ┆          ┆     ┆ 31         ┆           ┆          ┆          │
└──────────┴──────────┴────────────┴──────────┴─────┴────────────┴───────────┴──────────┴──────────┘

In [ ]:
df_store.filter(pl.col('address').str.contains('横浜市'))

shape: (11, 10)
┌──────────┬──────────┬────────────┬──────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ store_cd ┆ store_na ┆ prefecture ┆ prefectu ┆ ... ┆ tel_no     ┆ longitude ┆ latitude ┆ floor_ar │
│ ---      ┆ me       ┆ _cd        ┆ re       ┆     ┆ ---        ┆ ---       ┆ ---      ┆ ea       │
│ str      ┆ ---      ┆ ---        ┆ ---      ┆     ┆ str        ┆ f64       ┆ f64      ┆ ---      │
│          ┆ str      ┆ str        ┆ str      ┆     ┆            ┆           ┆          ┆ f64      │
╞══════════╪══════════╪════════════╪══════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ S14010   ┆ 菊名店   ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6326  ┆ 35.50049 ┆ 1732.0   │
│          ┆          ┆            ┆          ┆     ┆ 32         ┆           ┆          ┆          │
│ S14033   ┆ 阿久和店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4961  ┆ 35.45918 ┆ 1495.0   │
│          ┆          ┆            ┆          ┆     ┆ 43         ┆           ┆          ┆          │
│ S14040   ┆ 長津田店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4994  ┆ 35.52398 ┆ 1548.0   │
│          ┆          ┆            ┆          ┆     ┆ 46         ┆           ┆          ┆          │
│ S14050   ┆ 阿久和西 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4961  ┆ 35.45918 ┆ 1830.0   │
│          ┆ 店       ┆            ┆          ┆     ┆ 53         ┆           ┆          ┆          │
│ ...      ┆ ...      ┆ ...        ┆ ...      ┆ ... ┆ ...        ┆ ...       ┆ ...      ┆ ...      │
│ S14011   ┆ 日吉本町 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6316  ┆ 35.54655 ┆ 890.0    │
│          ┆ 店       ┆            ┆          ┆     ┆ 33         ┆           ┆          ┆          │
│ S14048   ┆ 中川中央 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.5758  ┆ 35.54912 ┆ 1657.0   │
│          ┆ 店       ┆            ┆          ┆     ┆ 51         ┆           ┆          ┆          │
│ S14042   ┆ 新山下店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6593  ┆ 35.43894 ┆ 1044.0   │
│          ┆          ┆            ┆          ┆     ┆ 47         ┆           ┆          ┆          │
│ S14006   ┆ 葛が谷店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.5633  ┆ 35.53573 ┆ 1886.0   │
│          ┆          ┆            ┆          ┆     ┆ 31         ┆           ┆          ┆          │
└──────────┴──────────┴────────────┴──────────┴─────┴────────────┴───────────┴──────────┴──────────┘

---
> P-013: 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まるデータを全項目抽出し、10件表示せよ。

In [31]:
df_customer.filter(pl.col('status_cd').str.contains(r'^[A-F]')).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0314150 ┆ 宇多田     ┆ 1         ┆ 女性   ┆ ... ┆ 東京都渋 ┆ S13031     ┆ 20150529   ┆ D-20100 │
│ 00172     ┆ 貴美子     ┆           ┆        ┆     ┆ 谷区代々 ┆            ┆            ┆ 325-C   │
│           ┆            ┆           ┆        ┆     ┆ 木****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0154140 ┆ 奥野 陽子  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都江 ┆ S13015     ┆ 20150722   ┆ B-20100 │
│ 00103     ┆            ┆           ┆        ┆     ┆ 東区北砂 ┆            ┆            ┆ 609-B   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0112150 ┆ 芦田 沙耶  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14011     ┆ 20150228   ┆ C-20100 │
│ 00048     ┆            ┆           ┆        ┆     ┆ 横浜市港 ┆            ┆            ┆ 421-9   │
│           ┆            ┆           ┆        ┆     ┆ 北区日吉 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 本町**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0294150 ┆ 梅田 里穂  ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県浦 ┆ S12029     ┆ 20150610   ┆ D-20100 │
│ 00023     ┆            ┆           ┆        ┆     ┆ 安市富士 ┆            ┆            ┆ 918-E   │
│           ┆            ┆           ┆        ┆     ┆ 見****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0292150 ┆ 石倉 美帆  ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県浦 ┆ S12029     ┆ 20150708   ┆ B-20100 │
│ 00025     ┆            ┆           ┆        ┆     ┆ 安市今川 ┆            ┆            ┆ 820-C   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0336050 ┆ 猪股 雄太  ┆ 0         ┆ 男性   ┆ ... ┆ 神奈川県 ┆ S14033     ┆ 20150425   ┆ F-20100 │
│ 00005     ┆            ┆           ┆        ┆     ┆ 横浜市瀬 ┆            ┆            ┆ 917-E   │
│           ┆            ┆           ┆        ┆     ┆ 谷区瀬谷 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0334150 ┆ 板垣       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14033     ┆ 20150712   ┆ F-20100 │
│ 00229     ┆ 菜々美     ┆           ┆        ┆     ┆ 横浜市瀬 ┆            ┆            ┆ 326-E   │
│           ┆            ┆           ┆        ┆     ┆ 谷区二ツ ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 橋町**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0084150 ┆ 黒谷 麻緒  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都世 ┆ S13008     ┆ 20150829   ┆ F-20100 │
│ 00145     ┆            ┆           ┆        ┆     ┆ 田谷区喜 ┆            ┆            ┆ 622-F   │
│           ┆            ┆           ┆        ┆     ┆ 多見**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

In [ ]:
df_customer.filter(pl.col('status_cd').str.contains(r'^[A-F]')).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0314150 ┆ 宇多田     ┆ 1         ┆ 女性   ┆ ... ┆ 東京都渋 ┆ S13031     ┆ 20150529   ┆ D-20100 │
│ 00172     ┆ 貴美子     ┆           ┆        ┆     ┆ 谷区代々 ┆            ┆            ┆ 325-C   │
│           ┆            ┆           ┆        ┆     ┆ 木****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0154140 ┆ 奥野 陽子  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都江 ┆ S13015     ┆ 20150722   ┆ B-20100 │
│ 00103     ┆            ┆           ┆        ┆     ┆ 東区北砂 ┆            ┆            ┆ 609-B   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0112150 ┆ 芦田 沙耶  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14011     ┆ 20150228   ┆ C-20100 │
│ 00048     ┆            ┆           ┆        ┆     ┆ 横浜市港 ┆            ┆            ┆ 421-9   │
│           ┆            ┆           ┆        ┆     ┆ 北区日吉 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 本町**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0294150 ┆ 梅田 里穂  ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県浦 ┆ S12029     ┆ 20150610   ┆ D-20100 │
│ 00023     ┆            ┆           ┆        ┆     ┆ 安市富士 ┆            ┆            ┆ 918-E   │
│           ┆            ┆           ┆        ┆     ┆ 見****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0292150 ┆ 石倉 美帆  ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県浦 ┆ S12029     ┆ 20150708   ┆ B-20100 │
│ 00025     ┆            ┆           ┆        ┆     ┆ 安市今川 ┆            ┆            ┆ 820-C   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0336050 ┆ 猪股 雄太  ┆ 0         ┆ 男性   ┆ ... ┆ 神奈川県 ┆ S14033     ┆ 20150425   ┆ F-20100 │
│ 00005     ┆            ┆           ┆        ┆     ┆ 横浜市瀬 ┆            ┆            ┆ 917-E   │
│           ┆            ┆           ┆        ┆     ┆ 谷区瀬谷 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0334150 ┆ 板垣       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14033     ┆ 20150712   ┆ F-20100 │
│ 00229     ┆ 菜々美     ┆           ┆        ┆     ┆ 横浜市瀬 ┆            ┆            ┆ 326-E   │
│           ┆            ┆           ┆        ┆     ┆ 谷区二ツ ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 橋町**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0084150 ┆ 黒谷 麻緒  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都世 ┆ S13008     ┆ 20150829   ┆ F-20100 │
│ 00145     ┆            ┆           ┆        ┆     ┆ 田谷区喜 ┆            ┆            ┆ 622-F   │
│           ┆            ┆           ┆        ┆     ┆ 多見**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

---
> P-014: 顧客データ（df_customer）から、ステータスコード（status_cd）の末尾が数字の1〜9で終わるデータを全項目抽出し、10件表示せよ。

In [32]:
df_customer.filter(pl.col('status_cd').str.contains(r'[1-9]$')).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0012150 ┆ 田崎 美紀  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20170605   ┆ 6-20090 │
│ 00145     ┆            ┆           ┆        ┆     ┆ 田区仲六 ┆            ┆            ┆ 929-2   │
│           ┆            ┆           ┆        ┆     ┆ 郷****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0335130 ┆ 安斎 遥    ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14033     ┆ 20150728   ┆ 6-20080 │
│ 00180     ┆            ┆           ┆        ┆     ┆ 横浜市旭 ┆            ┆            ┆ 506-5   │
│           ┆            ┆           ┆        ┆     ┆ 区善部町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0112150 ┆ 芦田 沙耶  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14011     ┆ 20150228   ┆ C-20100 │
│ 00048     ┆            ┆           ┆        ┆     ┆ 横浜市港 ┆            ┆            ┆ 421-9   │
│           ┆            ┆           ┆        ┆     ┆ 北区日吉 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 本町**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0404120 ┆ 川井 郁恵  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14040     ┆ 20151101   ┆ 1-20091 │
│ 00191     ┆            ┆           ┆        ┆     ┆ 横浜市緑 ┆            ┆            ┆ 025-4   │
│           ┆            ┆           ┆        ┆     ┆ 区北八朔 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0235130 ┆ 神戸 そら  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14023     ┆ 20150915   ┆ 5-20100 │
│ 00066     ┆            ┆           ┆        ┆     ┆ 川崎市川 ┆            ┆            ┆ 524-9   │
│           ┆            ┆           ┆        ┆     ┆ 崎区東田 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0355130 ┆ 市川 美帆  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都世 ┆ S13035     ┆ 20150227   ┆ 8-20100 │
│ 00134     ┆            ┆           ┆        ┆     ┆ 田谷区桜 ┆            ┆            ┆ 711-9   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0015150 ┆ 高松 夏空  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20160812   ┆ 1-20100 │
│ 00263     ┆            ┆           ┆        ┆     ┆ 田区西蒲 ┆            ┆            ┆ 804-1   │
│           ┆            ┆           ┆        ┆     ┆ 田****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0403140 ┆ 鶴田       ┆ 9         ┆ 不明   ┆ ... ┆ 神奈川県 ┆ S14040     ┆ 20150122   ┆ 2-20080 │
│ 00027     ┆ きみまろ   ┆           ┆        ┆     ┆ 横浜市緑 ┆            ┆            ┆ 426-4   │
│           ┆            ┆           ┆        ┆     ┆ 区長津田 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

In [ ]:
df_customer.filter(pl.col('status_cd').str.contains(r'[1-9]$')).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0012150 ┆ 田崎 美紀  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20170605   ┆ 6-20090 │
│ 00145     ┆            ┆           ┆        ┆     ┆ 田区仲六 ┆            ┆            ┆ 929-2   │
│           ┆            ┆           ┆        ┆     ┆ 郷****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0335130 ┆ 安斎 遥    ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14033     ┆ 20150728   ┆ 6-20080 │
│ 00180     ┆            ┆           ┆        ┆     ┆ 横浜市旭 ┆            ┆            ┆ 506-5   │
│           ┆            ┆           ┆        ┆     ┆ 区善部町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0112150 ┆ 芦田 沙耶  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14011     ┆ 20150228   ┆ C-20100 │
│ 00048     ┆            ┆           ┆        ┆     ┆ 横浜市港 ┆            ┆            ┆ 421-9   │
│           ┆            ┆           ┆        ┆     ┆ 北区日吉 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 本町**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0404120 ┆ 川井 郁恵  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14040     ┆ 20151101   ┆ 1-20091 │
│ 00191     ┆            ┆           ┆        ┆     ┆ 横浜市緑 ┆            ┆            ┆ 025-4   │
│           ┆            ┆           ┆        ┆     ┆ 区北八朔 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0235130 ┆ 神戸 そら  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14023     ┆ 20150915   ┆ 5-20100 │
│ 00066     ┆            ┆           ┆        ┆     ┆ 川崎市川 ┆            ┆            ┆ 524-9   │
│           ┆            ┆           ┆        ┆     ┆ 崎区東田 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0355130 ┆ 市川 美帆  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都世 ┆ S13035     ┆ 20150227   ┆ 8-20100 │
│ 00134     ┆            ┆           ┆        ┆     ┆ 田谷区桜 ┆            ┆            ┆ 711-9   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0015150 ┆ 高松 夏空  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20160812   ┆ 1-20100 │
│ 00263     ┆            ┆           ┆        ┆     ┆ 田区西蒲 ┆            ┆            ┆ 804-1   │
│           ┆            ┆           ┆        ┆     ┆ 田****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0403140 ┆ 鶴田       ┆ 9         ┆ 不明   ┆ ... ┆ 神奈川県 ┆ S14040     ┆ 20150122   ┆ 2-20080 │
│ 00027     ┆ きみまろ   ┆           ┆        ┆     ┆ 横浜市緑 ┆            ┆            ┆ 426-4   │
│           ┆            ┆           ┆        ┆     ┆ 区長津田 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

---
> P-015: 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まり、末尾が数字の1〜9で終わるデータを全項目抽出し、10件表示せよ。

In [33]:
df_customer.filter(pl.col('status_cd').str.contains(r'^[A-F].*[1-9]$')).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0112150 ┆ 芦田 沙耶  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14011     ┆ 20150228   ┆ C-20100 │
│ 00048     ┆            ┆           ┆        ┆     ┆ 横浜市港 ┆            ┆            ┆ 421-9   │
│           ┆            ┆           ┆        ┆     ┆ 北区日吉 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 本町**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0225130 ┆ 島村       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14022     ┆ 20150320   ┆ A-20091 │
│ 00105     ┆ 貴美子     ┆           ┆        ┆     ┆ 逗子市山 ┆            ┆            ┆ 115-7   │
│           ┆            ┆           ┆        ┆     ┆ の根**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0015150 ┆ 水野 陽子  ┆ 9         ┆ 不明   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20150614   ┆ A-20100 │
│ 00096     ┆            ┆           ┆        ┆     ┆ 田区蒲田 ┆            ┆            ┆ 724-7   │
│           ┆            ┆           ┆        ┆     ┆ 本町**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0136150 ┆ 西脇 季衣  ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県千 ┆ S12013     ┆ 20150128   ┆ B-20100 │
│ 00053     ┆            ┆           ┆        ┆     ┆ 葉市美浜 ┆            ┆            ┆ 329-6   │
│           ┆            ┆           ┆        ┆     ┆ 区幕張西 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0352120 ┆ 内村       ┆ 1         ┆ 女性   ┆ ... ┆ 東京都目 ┆ S13035     ┆ 20151013   ┆ B-20101 │
│ 00007     ┆ 恵梨香     ┆           ┆        ┆     ┆ 黒区八雲 ┆            ┆            ┆ 018-6   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0025150 ┆ 野田 コウ  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都国 ┆ S13002     ┆ 20160410   ┆ C-20100 │
│ 00386     ┆            ┆           ┆        ┆     ┆ 分寺市西 ┆            ┆            ┆ 127-8   │
│           ┆            ┆           ┆        ┆     ┆ 恋ケ窪** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│ CS0016150 ┆ 稲垣       ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20170403   ┆ A-20100 │
│ 00372     ┆ 寿々花     ┆           ┆        ┆     ┆ 田区南蒲 ┆            ┆            ┆ 104-1   │
│           ┆            ┆           ┆        ┆     ┆ 田****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0325120 ┆ 松井 知世  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S13032     ┆ 20150727   ┆ A-20100 │
│ 00121     ┆            ┆           ┆        ┆     ┆ 川崎市川 ┆            ┆            ┆ 103-5   │
│           ┆            ┆           ┆        ┆     ┆ 崎区富士 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 見****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

In [ ]:
df_customer.filter(pl.col('status_cd').str.contains(r'^[A-F].*[1-9]$')).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0112150 ┆ 芦田 沙耶  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14011     ┆ 20150228   ┆ C-20100 │
│ 00048     ┆            ┆           ┆        ┆     ┆ 横浜市港 ┆            ┆            ┆ 421-9   │
│           ┆            ┆           ┆        ┆     ┆ 北区日吉 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 本町**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0225130 ┆ 島村       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14022     ┆ 20150320   ┆ A-20091 │
│ 00105     ┆ 貴美子     ┆           ┆        ┆     ┆ 逗子市山 ┆            ┆            ┆ 115-7   │
│           ┆            ┆           ┆        ┆     ┆ の根**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0015150 ┆ 水野 陽子  ┆ 9         ┆ 不明   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20150614   ┆ A-20100 │
│ 00096     ┆            ┆           ┆        ┆     ┆ 田区蒲田 ┆            ┆            ┆ 724-7   │
│           ┆            ┆           ┆        ┆     ┆ 本町**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0136150 ┆ 西脇 季衣  ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県千 ┆ S12013     ┆ 20150128   ┆ B-20100 │
│ 00053     ┆            ┆           ┆        ┆     ┆ 葉市美浜 ┆            ┆            ┆ 329-6   │
│           ┆            ┆           ┆        ┆     ┆ 区幕張西 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0352120 ┆ 内村       ┆ 1         ┆ 女性   ┆ ... ┆ 東京都目 ┆ S13035     ┆ 20151013   ┆ B-20101 │
│ 00007     ┆ 恵梨香     ┆           ┆        ┆     ┆ 黒区八雲 ┆            ┆            ┆ 018-6   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0025150 ┆ 野田 コウ  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都国 ┆ S13002     ┆ 20160410   ┆ C-20100 │
│ 00386     ┆            ┆           ┆        ┆     ┆ 分寺市西 ┆            ┆            ┆ 127-8   │
│           ┆            ┆           ┆        ┆     ┆ 恋ケ窪** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│ CS0016150 ┆ 稲垣       ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20170403   ┆ A-20100 │
│ 00372     ┆ 寿々花     ┆           ┆        ┆     ┆ 田区南蒲 ┆            ┆            ┆ 104-1   │
│           ┆            ┆           ┆        ┆     ┆ 田****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0325120 ┆ 松井 知世  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S13032     ┆ 20150727   ┆ A-20100 │
│ 00121     ┆            ┆           ┆        ┆     ┆ 川崎市川 ┆            ┆            ┆ 103-5   │
│           ┆            ┆           ┆        ┆     ┆ 崎区富士 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 見****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

---
> P-016: 店舗データ（df_store）から、電話番号（tel_no）が3桁-3桁-4桁のデータを全項目表示せよ。

In [ ]:
df_store.filter(pl.col('tel_no').str.contains(r'^[0-9]{3}-[0-9]{3}-[0-9]{4}$'))

shape: (34, 10)
┌──────────┬──────────┬────────────┬──────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ store_cd ┆ store_na ┆ prefecture ┆ prefectu ┆ ... ┆ tel_no     ┆ longitude ┆ latitude ┆ floor_ar │
│ ---      ┆ me       ┆ _cd        ┆ re       ┆     ┆ ---        ┆ ---       ┆ ---      ┆ ea       │
│ str      ┆ ---      ┆ ---        ┆ ---      ┆     ┆ str        ┆ f64       ┆ f64      ┆ ---      │
│          ┆ str      ┆ str        ┆ str      ┆     ┆            ┆           ┆          ┆ f64      │
╞══════════╪══════════╪════════════╪══════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ S12014   ┆ 千草台店 ┆ 12         ┆ 千葉県   ┆ ... ┆ 043-123-40 ┆ 140.118   ┆ 35.63559 ┆ 1698.0   │
│          ┆          ┆            ┆          ┆     ┆ 03         ┆           ┆          ┆          │
│ S13002   ┆ 国分寺店 ┆ 13         ┆ 東京都   ┆ ... ┆ 042-123-40 ┆ 139.4802  ┆ 35.70566 ┆ 1735.0   │
│          ┆          ┆            ┆          ┆     ┆ 08         ┆           ┆          ┆          │
│ S14010   ┆ 菊名店   ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6326  ┆ 35.50049 ┆ 1732.0   │
│          ┆          ┆            ┆          ┆     ┆ 32         ┆           ┆          ┆          │
│ S14033   ┆ 阿久和店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4961  ┆ 35.45918 ┆ 1495.0   │
│          ┆          ┆            ┆          ┆     ┆ 43         ┆           ┆          ┆          │
│ ...      ┆ ...      ┆ ...        ┆ ...      ┆ ... ┆ ...        ┆ ...       ┆ ...      ┆ ...      │
│ S12029   ┆ 東野店   ┆ 12         ┆ 千葉県   ┆ ... ┆ 047-123-40 ┆ 139.8968  ┆ 35.65086 ┆ 1101.0   │
│          ┆          ┆            ┆          ┆     ┆ 04         ┆           ┆          ┆          │
│ S12053   ┆ 高洲店   ┆ 12         ┆ 千葉県   ┆ ... ┆ 047-123-40 ┆ 139.9176  ┆ 35.63755 ┆ 1555.0   │
│          ┆          ┆            ┆          ┆     ┆ 06         ┆           ┆          ┆          │
│ S14024   ┆ 三田店   ┆ 14         ┆ 神奈川県 ┆ ... ┆ 044-123-40 ┆ 139.5424  ┆ 35.6077  ┆ 972.0    │
│          ┆          ┆            ┆          ┆     ┆ 38         ┆           ┆          ┆          │
│ S14006   ┆ 葛が谷店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.5633  ┆ 35.53573 ┆ 1886.0   │
│          ┆          ┆            ┆          ┆     ┆ 31         ┆           ┆          ┆          │
└──────────┴──────────┴────────────┴──────────┴─────┴────────────┴───────────┴──────────┴──────────┘

---
> P-017: 顧客データ（df_customer）を生年月日（birth_day）で高齢順にソートし、先頭から全項目を10件表示せよ。

In [ ]:
df_customer.sort('birth_day').head(10)
# タイの順番はpandasとずれてる

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0038130 ┆ 村山       ┆ 1         ┆ 女性   ┆ ... ┆ 東京都調 ┆ S13003     ┆ 20160214   ┆ 0-00000 │
│ 00014     ┆ 菜々美     ┆           ┆        ┆     ┆ 布市菊野 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 台****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0268130 ┆ 吉村 朝陽  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14026     ┆ 20150723   ┆ 0-00000 │
│ 00004     ┆            ┆           ┆        ┆     ┆ 藤沢市辻 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 堂元町** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│ CS0188110 ┆ 熊沢 美里  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都清 ┆ S13018     ┆ 20150403   ┆ 0-00000 │
│ 00003     ┆            ┆           ┆        ┆     ┆ 瀬市野塩 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0278030 ┆ 内村 拓郎  ┆ 0         ┆ 男性   ┆ ... ┆ 神奈川県 ┆ S14027     ┆ 20151227   ┆ 0-00000 │
│ 00004     ┆            ┆           ┆        ┆     ┆ 藤沢市鵠 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 沼藤が谷 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0168150 ┆ 山元 美紀  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都小 ┆ S13016     ┆ 20150629   ┆ C-20090 │
│ 00002     ┆            ┆           ┆        ┆     ┆ 金井市桜 ┆            ┆            ┆ 923-C   │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0098150 ┆ 中田 里穂  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都世 ┆ S13009     ┆ 20150421   ┆ D-20091 │
│ 00003     ┆            ┆           ┆        ┆     ┆ 田谷区新 ┆            ┆            ┆ 021-E   │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0128130 ┆ 宇野 南朋  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14012     ┆ 20150712   ┆ 0-00000 │
│ 00013     ┆            ┆           ┆        ┆     ┆ 横浜市中 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 区本牧町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0058130 ┆ 金谷       ┆ 1         ┆ 女性   ┆ ... ┆ 東京都中 ┆ S13005     ┆ 20150506   ┆ 0-00000 │
│ 00015     ┆ 恵梨香     ┆           ┆        ┆     ┆ 野区鷺宮 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

---
> P-018: 顧客データ（df_customer）を生年月日（birth_day）で若い順にソートし、先頭から全項目を10件表示せよ。

In [ ]:
df_customer.sort('birth_day', reverse=True).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0351140 ┆ 大村 美里  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都世 ┆ S13035     ┆ 20150619   ┆ 6-20091 │
│ 00004     ┆            ┆           ┆        ┆     ┆ 田谷区桜 ┆            ┆            ┆ 205-6   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0221030 ┆ 福山       ┆ 9         ┆ 不明   ┆ ... ┆ 神奈川県 ┆ S14022     ┆ 20160909   ┆ 0-00000 │
│ 00002     ┆ はじめ     ┆           ┆        ┆     ┆ 逗子市逗 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 子****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0021130 ┆ 柴田       ┆ 1         ┆ 女性   ┆ ... ┆ 東京都小 ┆ S13002     ┆ 20160304   ┆ 0-00000 │
│ 00009     ┆ 真悠子     ┆           ┆        ┆     ┆ 金井市貫 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 井南町** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│ CS0041150 ┆ 松井 京子  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都中 ┆ S13004     ┆ 20161120   ┆ 1-20081 │
│ 00014     ┆            ┆           ┆        ┆     ┆ 野区上鷺 ┆            ┆            ┆ 231-1   │
│           ┆            ┆           ┆        ┆     ┆ 宮****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0021130 ┆ 広末       ┆ 1         ┆ 女性   ┆ ... ┆ 東京都小 ┆ S13002     ┆ 20171030   ┆ 0-00000 │
│ 00025     ┆ まなみ     ┆           ┆        ┆     ┆ 金井市貫 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 井北町** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│ CS0331120 ┆ 長野 美紀  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14033     ┆ 20150606   ┆ 0-00000 │
│ 00003     ┆            ┆           ┆        ┆     ┆ 横浜市戸 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 塚区名瀬 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0071150 ┆ 福岡 瞬    ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県佐 ┆ S12007     ┆ 20151118   ┆ F-20101 │
│ 00006     ┆            ┆           ┆        ┆     ┆ 倉市西志 ┆            ┆            ┆ 016-F   │
│           ┆            ┆           ┆        ┆     ┆ 津****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0141130 ┆ 矢口 莉緒  ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県千 ┆ S12014     ┆ 20150622   ┆ 3-20091 │
│ 00008     ┆            ┆           ┆        ┆     ┆ 葉市中央 ┆            ┆            ┆ 108-6   │
│           ┆            ┆           ┆        ┆     ┆ 区東千葉 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

---
> P-019: レシート明細データ（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭から10件表示せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合は同一順位を付与するものとする。

In [ ]:
df_receipt.select([
    pl.col('customer_id'),
    pl.col('amount'),
    pl.col('amount').rank(method='min', reverse=True).alias('ranking')
]).sort('ranking').head(10)

shape: (10, 3)
┌────────────────┬────────┬─────────┐
│ customer_id    ┆ amount ┆ ranking │
│ ---            ┆ ---    ┆ ---     │
│ str            ┆ i64    ┆ u32     │
╞════════════════╪════════╪═════════╡
│ CS011415000006 ┆ 10925  ┆ 1       │
│ ZZ000000000000 ┆ 6800   ┆ 2       │
│ CS028605000002 ┆ 5780   ┆ 3       │
│ CS015515000034 ┆ 5480   ┆ 4       │
│ ...            ┆ ...    ┆ ...     │
│ ZZ000000000000 ┆ 5440   ┆ 7       │
│ CS021515000089 ┆ 5440   ┆ 7       │
│ CS015515000083 ┆ 5280   ┆ 9       │
│ CS017414000114 ┆ 5280   ┆ 9       │
└────────────────┴────────┴─────────┘

---
> P-020: レシート明細データ（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭から10件表示せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合でも別順位を付与すること。

In [ ]:
df_receipt.select([
    pl.col('customer_id'),
    pl.col('amount'),
    pl.col('amount').rank(method='random', reverse=True).alias('ranking')
]).sort('ranking').head(10)

shape: (10, 3)
┌────────────────┬────────┬─────────┐
│ customer_id    ┆ amount ┆ ranking │
│ ---            ┆ ---    ┆ ---     │
│ str            ┆ i64    ┆ u32     │
╞════════════════╪════════╪═════════╡
│ CS011415000006 ┆ 10925  ┆ 1       │
│ ZZ000000000000 ┆ 6800   ┆ 2       │
│ CS028605000002 ┆ 5780   ┆ 3       │
│ CS015515000034 ┆ 5480   ┆ 4       │
│ ...            ┆ ...    ┆ ...     │
│ ZZ000000000000 ┆ 5440   ┆ 7       │
│ CS021515000089 ┆ 5440   ┆ 8       │
│ ZZ000000000000 ┆ 5280   ┆ 9       │
│ CS017414000114 ┆ 5280   ┆ 10      │
└────────────────┴────────┴─────────┘

## P-021 ~ P-030

---
> P-021: レシート明細データ（df_receipt）に対し、件数をカウントせよ。

In [ ]:
len(df_receipt)

104681

---
> P-022: レシート明細データ（df_receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [ ]:
df_receipt.select(pl.col('customer_id').n_unique())

shape: (1, 1)
┌─────────────┐
│ customer_id │
│ ---         │
│ u32         │
╞═════════════╡
│ 8307        │
└─────────────┘

---
> P-023: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）と売上数量（quantity）を合計せよ。

In [ ]:
df_receipt.groupby('store_cd').agg([
    pl.col('amount').sum(), 
    pl.col('quantity').sum()
]).sort('store_cd')

# groupbyでsortされないので確認のためにsortを入れてる

shape: (52, 3)
┌──────────┬────────┬──────────┐
│ store_cd ┆ amount ┆ quantity │
│ ---      ┆ ---    ┆ ---      │
│ str      ┆ i64    ┆ i64      │
╞══════════╪════════╪══════════╡
│ S12007   ┆ 638761 ┆ 2099     │
│ S12013   ┆ 787513 ┆ 2425     │
│ S12014   ┆ 725167 ┆ 2358     │
│ S12029   ┆ 794741 ┆ 2555     │
│ ...      ┆ ...    ┆ ...      │
│ S14047   ┆ 338329 ┆ 1041     │
│ S14048   ┆ 234276 ┆ 769      │
│ S14049   ┆ 230808 ┆ 788      │
│ S14050   ┆ 167090 ┆ 580      │
└──────────┴────────┴──────────┘

In [ ]:
# あるいはこっちでもOK
df_receipt.groupby('store_cd', maintain_order=True).agg([
    pl.col('amount').sum(), 
    pl.col('quantity').sum()
]).sort('store_cd').head(5)

shape: (5, 3)
┌──────────┬────────┬──────────┐
│ store_cd ┆ amount ┆ quantity │
│ ---      ┆ ---    ┆ ---      │
│ str      ┆ i64    ┆ i64      │
╞══════════╪════════╪══════════╡
│ S12007   ┆ 638761 ┆ 2099     │
│ S12013   ┆ 787513 ┆ 2425     │
│ S12014   ┆ 725167 ┆ 2358     │
│ S12029   ┆ 794741 ┆ 2555     │
│ S12030   ┆ 684402 ┆ 2403     │
└──────────┴────────┴──────────┘

---
> P-024: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上年月日（sales_ymd）を求め、10件表示せよ。

In [ ]:
df_receipt.groupby('customer_id').agg(pl.col('sales_ymd').max()).sort('customer_id').head(10)

shape: (10, 2)
┌────────────────┬───────────┐
│ customer_id    ┆ sales_ymd │
│ ---            ┆ ---       │
│ str            ┆ i64       │
╞════════════════╪═══════════╡
│ CS001113000004 ┆ 20190308  │
│ CS001114000005 ┆ 20190731  │
│ CS001115000010 ┆ 20190405  │
│ CS001205000004 ┆ 20190625  │
│ ...            ┆ ...       │
│ CS001212000027 ┆ 20170127  │
│ CS001212000031 ┆ 20180906  │
│ CS001212000046 ┆ 20170811  │
│ CS001212000070 ┆ 20191018  │
└────────────────┴───────────┘

---
> P-025: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに最も古い売上年月日（sales_ymd）を求め、10件表示せよ。

In [ ]:
df_receipt.groupby('customer_id').agg(pl.col('sales_ymd').min()).sort('customer_id').head(10)

shape: (10, 2)
┌────────────────┬───────────┐
│ customer_id    ┆ sales_ymd │
│ ---            ┆ ---       │
│ str            ┆ i64       │
╞════════════════╪═══════════╡
│ CS001113000004 ┆ 20190308  │
│ CS001114000005 ┆ 20180503  │
│ CS001115000010 ┆ 20171228  │
│ CS001205000004 ┆ 20170914  │
│ ...            ┆ ...       │
│ CS001212000027 ┆ 20170127  │
│ CS001212000031 ┆ 20180906  │
│ CS001212000046 ┆ 20170811  │
│ CS001212000070 ┆ 20191018  │
└────────────────┴───────────┘

---
> P-026: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上年月日（sales_ymd）と古い売上年月日を求め、両者が異なるデータを10件表示せよ。

In [ ]:
df_receipt.groupby('customer_id').agg([
    pl.col('sales_ymd').min().alias('sales_ymd_min'),
    pl.col('sales_ymd').max().alias('sales_ymd_max'),
]).filter(
    pl.col('sales_ymd_min') != pl.col('sales_ymd_max')
).sort('customer_id').head(10)

shape: (10, 3)
┌────────────────┬───────────────┬───────────────┐
│ customer_id    ┆ sales_ymd_min ┆ sales_ymd_max │
│ ---            ┆ ---           ┆ ---           │
│ str            ┆ i64           ┆ i64           │
╞════════════════╪═══════════════╪═══════════════╡
│ CS001114000005 ┆ 20180503      ┆ 20190731      │
│ CS001115000010 ┆ 20171228      ┆ 20190405      │
│ CS001205000004 ┆ 20170914      ┆ 20190625      │
│ CS001205000006 ┆ 20180207      ┆ 20190224      │
│ ...            ┆ ...           ┆ ...           │
│ CS001214000048 ┆ 20171109      ┆ 20190929      │
│ CS001214000052 ┆ 20180208      ┆ 20190617      │
│ CS001215000005 ┆ 20170206      ┆ 20181021      │
│ CS001215000040 ┆ 20170214      ┆ 20171022      │
└────────────────┴───────────────┴───────────────┘

---
> P-027: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、降順でTOP5を表示せよ。

In [ ]:
df_receipt.groupby('store_cd').agg(pl.col('amount').mean()).sort('amount', reverse=True).head(5)

shape: (5, 2)
┌──────────┬────────────┐
│ store_cd ┆ amount     │
│ ---      ┆ ---        │
│ str      ┆ f64        │
╞══════════╪════════════╡
│ S13052   ┆ 402.86747  │
│ S13015   ┆ 351.11196  │
│ S13003   ┆ 350.915519 │
│ S14010   ┆ 348.791262 │
│ S13001   ┆ 348.470386 │
└──────────┴────────────┘

---
> P-028: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の中央値を計算し、降順でTOP5を表示せよ。

In [ ]:
df_receipt.groupby('store_cd').agg(pl.col('amount').median()).sort('amount', reverse=True).head(5)

shape: (5, 2)
┌──────────┬────────┐
│ store_cd ┆ amount │
│ ---      ┆ ---    │
│ str      ┆ f64    │
╞══════════╪════════╡
│ S13052   ┆ 190.0  │
│ S14010   ┆ 188.0  │
│ S14050   ┆ 185.0  │
│ S13003   ┆ 180.0  │
│ S14040   ┆ 180.0  │
└──────────┴────────┘

---
> P-029: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに商品コード（product_cd）の最頻値を求め、10件表示させよ。

In [ ]:
df_receipt.groupby('store_cd').agg(
    pl.col('product_cd').mode()
).select([
    'store_cd', 
    pl.col('product_cd').arr.first()
]).sort('store_cd')

shape: (52, 2)
┌──────────┬────────────┐
│ store_cd ┆ product_cd │
│ ---      ┆ ---        │
│ str      ┆ str        │
╞══════════╪════════════╡
│ S12007   ┆ P060303001 │
│ S12013   ┆ P060303001 │
│ S12014   ┆ P060303001 │
│ S12029   ┆ P060303001 │
│ ...      ┆ ...        │
│ S14047   ┆ P060303001 │
│ S14048   ┆ P050101001 │
│ S14049   ┆ P060303001 │
│ S14050   ┆ P060303001 │
└──────────┴────────────┘

---
> P-030: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の分散を計算し、降順で5件表示せよ。

In [ ]:
df_receipt.groupby('store_cd').agg(
    pl.col('amount').var(ddof=0)
).sort('amount', reverse=True).head(5)

shape: (5, 2)
┌──────────┬───────────────┐
│ store_cd ┆ amount        │
│ ---      ┆ ---           │
│ str      ┆ f64           │
╞══════════╪═══════════════╡
│ S13052   ┆ 440088.701311 │
│ S14011   ┆ 306314.558164 │
│ S14034   ┆ 296920.081011 │
│ S13001   ┆ 295431.993329 │
│ S13015   ┆ 295294.361116 │
└──────────┴───────────────┘

## P-031 ~ P-040

---
> P-031: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標準偏差を計算し、降順で5件表示せよ。

In [ ]:
df_receipt.groupby('store_cd').agg(
    pl.col('amount').std(ddof=0)
).sort('amount', reverse=True).head(5)

shape: (5, 2)
┌──────────┬────────────┐
│ store_cd ┆ amount     │
│ ---      ┆ ---        │
│ str      ┆ f64        │
╞══════════╪════════════╡
│ S13052   ┆ 663.391816 │
│ S14011   ┆ 553.456916 │
│ S14034   ┆ 544.903736 │
│ S13001   ┆ 543.536561 │
│ S13015   ┆ 543.409938 │
└──────────┴────────────┘

---
> P-032: レシート明細データ（df_receipt）の売上金額（amount）について、25％刻みでパーセンタイル値を求めよ。

In [ ]:
df_receipt.select([
    pl.col('amount').quantile(0).alias('q_0'),
    pl.col('amount').quantile(0.25).alias('q_25'),
    pl.col('amount').quantile(0.5).alias('q_5'),
    pl.col('amount').quantile(0.75).alias('q_75'),
    pl.col('amount').quantile(1).alias('q_100'),
])

shape: (1, 5)
┌──────┬───────┬───────┬───────┬─────────┐
│ q_0  ┆ q_25  ┆ q_5   ┆ q_75  ┆ q_100   │
│ ---  ┆ ---   ┆ ---   ┆ ---   ┆ ---     │
│ f64  ┆ f64   ┆ f64   ┆ f64   ┆ f64     │
╞══════╪═══════╪═══════╪═══════╪═════════╡
│ 10.0 ┆ 102.0 ┆ 170.0 ┆ 288.0 ┆ 10925.0 │
└──────┴───────┴───────┴───────┴─────────┘

In [ ]:
# こんな感じでも書ける
df_receipt.select([
    pl.col('amount').quantile(i).alias(f'q_{i}') for i in [0, 0.25, 0.5, 0.75, 1]
    # pl.col('amount').quantile(i).alias(f'q_{int(100*i)}') for i in [0, 0.25, 0.5, 0.75, 1]
])

shape: (1, 5)
┌──────┬────────┬───────┬────────┬─────────┐
│ q_0  ┆ q_0.25 ┆ q_0.5 ┆ q_0.75 ┆ q_1     │
│ ---  ┆ ---    ┆ ---   ┆ ---    ┆ ---     │
│ f64  ┆ f64    ┆ f64   ┆ f64    ┆ f64     │
╞══════╪════════╪═══════╪════════╪═════════╡
│ 10.0 ┆ 102.0  ┆ 170.0 ┆ 288.0  ┆ 10925.0 │
└──────┴────────┴───────┴────────┴─────────┘

---
> P-033: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、330以上のものを抽出せよ。

In [ ]:
df_receipt.groupby('store_cd').agg(
    pl.col('amount').mean()
).filter(
    pl.col('amount') >= 330
).sort('store_cd')

shape: (13, 2)
┌──────────┬────────────┐
│ store_cd ┆ amount     │
│ ---      ┆ ---        │
│ str      ┆ f64        │
╞══════════╪════════════╡
│ S12013   ┆ 330.19413  │
│ S13001   ┆ 348.470386 │
│ S13003   ┆ 350.915519 │
│ S13004   ┆ 330.943949 │
│ ...      ┆ ...        │
│ S14011   ┆ 335.718333 │
│ S14026   ┆ 332.340588 │
│ S14045   ┆ 330.082073 │
│ S14047   ┆ 330.077073 │
└──────────┴────────────┘

---
> P-034: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求めよ。ただし、顧客IDが"Z"から始まるものは非会員を表すため、除外して計算すること。

In [ ]:
df_receipt.filter(
    pl.col('customer_id').str.starts_with('Z').is_not()
).groupby('customer_id').agg(
    pl.col('amount').sum()
).select(
    pl.col('amount').mean()
)

shape: (1, 1)
┌─────────────┐
│ amount      │
│ ---         │
│ f64         │
╞═════════════╡
│ 2547.742235 │
└─────────────┘

In [ ]:
# よく使う条件とかは簡単に外に出せる
exclude_nonmember = pl.col('customer_id').str.starts_with('Z').is_not()

df_receipt.filter(exclude_nonmember).groupby('customer_id').agg(
    pl.col('amount').sum()
).select(
    pl.col('amount').mean()
)

shape: (1, 1)
┌─────────────┐
│ amount      │
│ ---         │
│ f64         │
╞═════════════╡
│ 2547.742235 │
└─────────────┘

---
> P-035: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出し、10件表示せよ。ただし、顧客IDが"Z"から始まるものは非会員を表すため、除外して計算すること。

In [ ]:
(df_receipt
    .filter(pl.col('customer_id').str.starts_with('Z').is_not())
    .groupby('customer_id')
    .agg(pl.col('amount').sum())
    .with_column(pl.col('amount').mean().alias('avg_amount'))
    .filter(pl.col('amount') >= pl.col('avg_amount'))
    .sort('customer_id')
    .head(10)
)

shape: (10, 3)
┌────────────────┬────────┬─────────────┐
│ customer_id    ┆ amount ┆ avg_amount  │
│ ---            ┆ ---    ┆ ---         │
│ str            ┆ i64    ┆ f64         │
╞════════════════╪════════╪═════════════╡
│ CS001115000010 ┆ 3044   ┆ 2547.742235 │
│ CS001205000006 ┆ 3337   ┆ 2547.742235 │
│ CS001214000009 ┆ 4685   ┆ 2547.742235 │
│ CS001214000017 ┆ 4132   ┆ 2547.742235 │
│ ...            ┆ ...    ┆ ...         │
│ CS001304000006 ┆ 3726   ┆ 2547.742235 │
│ CS001305000005 ┆ 3485   ┆ 2547.742235 │
│ CS001305000011 ┆ 4370   ┆ 2547.742235 │
│ CS001315000180 ┆ 3300   ┆ 2547.742235 │
└────────────────┴────────┴─────────────┘

---
> P-036: レシート明細データ（df_receipt）と店舗データ（df_store）を内部結合し、レシート明細データの全項目と店舗データの店舗名（store_name）を10件表示せよ。

In [ ]:
df_receipt.join(
    df_store.select(['store_cd', 'store_name']), 
    how='inner', 
    on='store_cd'
).head(10)

shape: (10, 10)
┌───────────┬───────────┬──────────┬──────────┬─────┬─────────────┬──────────┬────────┬────────────┐
│ sales_ymd ┆ sales_epo ┆ store_cd ┆ receipt_ ┆ ... ┆ product_cd  ┆ quantity ┆ amount ┆ store_name │
│ ---       ┆ ch        ┆ ---      ┆ no       ┆     ┆ ---         ┆ ---      ┆ ---    ┆ ---        │
│ i64       ┆ ---       ┆ str      ┆ ---      ┆     ┆ str         ┆ i64      ┆ i64    ┆ str        │
│           ┆ i64       ┆          ┆ i64      ┆     ┆             ┆          ┆        ┆            │
╞═══════════╪═══════════╪══════════╪══════════╪═════╪═════════════╪══════════╪════════╪════════════╡
│ 20181103  ┆ 154120320 ┆ S14006   ┆ 112      ┆ ... ┆ P070305012  ┆ 1        ┆ 158    ┆ 葛が谷店   │
│           ┆ 0         ┆          ┆          ┆     ┆             ┆          ┆        ┆            │
│ 20181118  ┆ 154249920 ┆ S13008   ┆ 1132     ┆ ... ┆ P070701017  ┆ 1        ┆ 81     ┆ 成城店     │
│           ┆ 0         ┆          ┆          ┆     ┆             ┆          ┆        ┆            │
│ 20170712  ┆ 149981760 ┆ S14028   ┆ 1102     ┆ ... ┆ P060101005  ┆ 1        ┆ 170    ┆ 二ツ橋店   │
│           ┆ 0         ┆          ┆          ┆     ┆             ┆          ┆        ┆            │
│ 20190205  ┆ 154932480 ┆ S14042   ┆ 1132     ┆ ... ┆ P050301001  ┆ 1        ┆ 25     ┆ 新山下店   │
│           ┆ 0         ┆          ┆          ┆     ┆             ┆          ┆        ┆            │
│ ...       ┆ ...       ┆ ...      ┆ ...      ┆ ... ┆ ...         ┆ ...      ┆ ...    ┆ ...        │
│ 20181205  ┆ 154396800 ┆ S14024   ┆ 1102     ┆ ... ┆ P080101005  ┆ 1        ┆ 30     ┆ 三田店     │
│           ┆ 0         ┆          ┆          ┆     ┆             ┆          ┆        ┆            │
│ 20190922  ┆ 156911040 ┆ S14040   ┆ 1102     ┆ ... ┆ P070501004  ┆ 1        ┆ 128    ┆ 長津田店   │
│           ┆ 0         ┆          ┆          ┆     ┆             ┆          ┆        ┆            │
│ 20170504  ┆ 149385600 ┆ S13020   ┆ 1112     ┆ ... ┆ P071302010  ┆ 1        ┆ 770    ┆ 十条仲原店 │
│           ┆ 0         ┆          ┆          ┆     ┆             ┆          ┆        ┆            │
│ 20191010  ┆ 157066560 ┆ S14027   ┆ 1102     ┆ ... ┆ P071101003  ┆ 1        ┆ 680    ┆ 南藤沢店   │
│           ┆ 0         ┆          ┆          ┆     ┆             ┆          ┆        ┆            │
└───────────┴───────────┴──────────┴──────────┴─────┴─────────────┴──────────┴────────┴────────────┘

---
> P-037: 商品データ（df_product）とカテゴリデータ（df_category）を内部結合し、商品データの全項目とカテゴリデータのカテゴリ小区分名（category_small_name）を10件表示せよ。

In [ ]:
df_product.join(
    df_category.select(['category_small_cd', 'category_small_name']), 
    how='inner', on='category_small_cd'
).head(10)

shape: (10, 7)
┌────────────┬───────────────┬──────────────┬──────────────┬────────────┬───────────┬──────────────┐
│ product_cd ┆ category_majo ┆ category_med ┆ category_sma ┆ unit_price ┆ unit_cost ┆ category_sma │
│ ---        ┆ r_cd          ┆ ium_cd       ┆ ll_cd        ┆ ---        ┆ ---       ┆ ll_name      │
│ str        ┆ ---           ┆ ---          ┆ ---          ┆ i64        ┆ i64       ┆ ---          │
│            ┆ str           ┆ str          ┆ str          ┆            ┆           ┆ str          │
╞════════════╪═══════════════╪══════════════╪══════════════╪════════════╪═══════════╪══════════════╡
│ P040101001 ┆ 04            ┆ 0401         ┆ 040101       ┆ 198        ┆ 149       ┆ 弁当類       │
│ P040101002 ┆ 04            ┆ 0401         ┆ 040101       ┆ 218        ┆ 164       ┆ 弁当類       │
│ P040101003 ┆ 04            ┆ 0401         ┆ 040101       ┆ 230        ┆ 173       ┆ 弁当類       │
│ P040101004 ┆ 04            ┆ 0401         ┆ 040101       ┆ 248        ┆ 186       ┆ 弁当類       │
│ ...        ┆ ...           ┆ ...          ┆ ...          ┆ ...        ┆ ...       ┆ ...          │
│ P040101007 ┆ 04            ┆ 0401         ┆ 040101       ┆ 338        ┆ 254       ┆ 弁当類       │
│ P040101008 ┆ 04            ┆ 0401         ┆ 040101       ┆ 420        ┆ 315       ┆ 弁当類       │
│ P040101009 ┆ 04            ┆ 0401         ┆ 040101       ┆ 498        ┆ 374       ┆ 弁当類       │
│ P040101010 ┆ 04            ┆ 0401         ┆ 040101       ┆ 580        ┆ 435       ┆ 弁当類       │
└────────────┴───────────────┴──────────────┴──────────────┴────────────┴───────────┴──────────────┘

---
> P-038: 顧客データ（df_customer）とレシート明細データ（df_receipt）から、顧客ごとの売上金額合計を求め、10件表示せよ。ただし、売上実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが"Z"から始まるもの）は除外すること。

In [ ]:
df_customer.filter(
    (pl.col('gender_cd') == '1') & 
    (pl.col('customer_id').str.starts_with('Z').is_not())
).join(
    df_receipt, how='left', on='customer_id'
).groupby('customer_id').agg(
    pl.col('amount').sum().fill_null(0)
).head(10)

shape: (10, 2)
┌────────────────┬────────┐
│ customer_id    ┆ amount │
│ ---            ┆ ---    │
│ str            ┆ i64    │
╞════════════════╪════════╡
│ CS027315000039 ┆ 0      │
│ CS006615000064 ┆ 2306   │
│ CS004513000394 ┆ 248    │
│ CS020212000006 ┆ 604    │
│ ...            ┆ ...    │
│ CS021715000052 ┆ 348    │
│ CS022315000160 ┆ 0      │
│ CS029314000017 ┆ 691    │
│ CS017612000121 ┆ 0      │
└────────────────┴────────┘

---
> P-039: レシート明細データ（df_receipt）から、売上日数の多い顧客の上位20件を抽出したデータと、売上金額合計の多い顧客の上位20件を抽出したデータをそれぞれ作成し、さらにその2つを完全外部結合せよ。ただし、非会員（顧客IDが"Z"から始まるもの）は除外すること。

In [ ]:
df_data = df_receipt.filter(pl.col('customer_id').str.starts_with('Z').is_not())

df_cnt = df_data.groupby('customer_id').agg(pl.col('sales_ymd').n_unique()).sort('sales_ymd', reverse=True).head(20)
df_sum = df_data.groupby('customer_id').agg(pl.col('amount').sum()).sort('amount', reverse=True).head(20)


df_cnt.join(df_sum, how='outer', on='customer_id')

shape: (34, 3)
┌────────────────┬───────────┬────────┐
│ customer_id    ┆ sales_ymd ┆ amount │
│ ---            ┆ ---       ┆ ---    │
│ str            ┆ u32       ┆ i64    │
╞════════════════╪═══════════╪════════╡
│ CS017415000097 ┆ 20        ┆ 23086  │
│ CS015415000185 ┆ 22        ┆ 20153  │
│ CS031414000051 ┆ 19        ┆ 19202  │
│ CS028415000007 ┆ 21        ┆ 19127  │
│ ...            ┆ ...       ┆ ...    │
│ CS007515000107 ┆ 18        ┆ null   │
│ CS010214000002 ┆ 21        ┆ null   │
│ CS039414000052 ┆ 19        ┆ null   │
│ CS030214000008 ┆ 18        ┆ null   │
└────────────────┴───────────┴────────┘

---
> P-040: 全ての店舗と全ての商品を組み合わせたデータを作成したい。店舗データ（df_store）と商品データ（df_product）を直積し、件数を計算せよ。

In [ ]:
(df_store.with_column(pl.lit(0).alias('key'))
    .join(df_product.with_column(pl.lit(0).alias('key')), on='key', how='outer')
).shape

(531590, 17)

## P-041 ~ P-050

---
> P-041: レシート明細データ（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、前回売上があった日からの売上金額増減を計算せよ。そして結果を10件表示せよ。

In [ ]:
(df_receipt
    .groupby('sales_ymd')
    .agg(pl.col('amount').sum())
    .sort('sales_ymd')
    .with_column((pl.col('amount') - pl.col('amount').shift()).alias('diff_amount'))
    .head(10)
)

shape: (10, 3)
┌───────────┬────────┬─────────────┐
│ sales_ymd ┆ amount ┆ diff_amount │
│ ---       ┆ ---    ┆ ---         │
│ i64       ┆ i64    ┆ i64         │
╞═══════════╪════════╪═════════════╡
│ 20170101  ┆ 33723  ┆ null        │
│ 20170102  ┆ 24165  ┆ -9558       │
│ 20170103  ┆ 27503  ┆ 3338        │
│ 20170104  ┆ 36165  ┆ 8662        │
│ ...       ┆ ...    ┆ ...         │
│ 20170107  ┆ 23415  ┆ -8972       │
│ 20170108  ┆ 24737  ┆ 1322        │
│ 20170109  ┆ 26718  ┆ 1981        │
│ 20170110  ┆ 20143  ┆ -6575       │
└───────────┴────────┴─────────────┘

---
> P-042: レシート明細データ（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、各日付のデータに対し、前回、前々回、3回前に売上があった日のデータを結合せよ。そして結果を10件表示せよ。

In [ ]:
(df_receipt
    .groupby('sales_ymd')
    .agg(pl.col('amount').sum())
    .sort('sales_ymd')
    .with_columns([
        pl.col('sales_ymd').shift(1).alias('sakes_ymd_lag1'),
        pl.col('amount').shift(1).alias('amount_lag1'),
        pl.col('sales_ymd').shift(2).alias('sakes_ymd_lag2'),
        pl.col('amount').shift(2).alias('amount_lag2'),
        pl.col('sales_ymd').shift(3).alias('sakes_ymd_lag3'),
        pl.col('amount').shift(3).alias('amount_lag3'),
    ])
    .head(10)
)

shape: (10, 8)
┌───────────┬────────┬────────────┬───────────┬────────────┬───────────┬────────────┬──────────────┐
│ sales_ymd ┆ amount ┆ sakes_ymd_ ┆ amount_la ┆ sakes_ymd_ ┆ amount_la ┆ sakes_ymd_ ┆ amount_lag3  │
│ ---       ┆ ---    ┆ lag1       ┆ g1        ┆ lag2       ┆ g2        ┆ lag3       ┆ ---          │
│ i64       ┆ i64    ┆ ---        ┆ ---       ┆ ---        ┆ ---       ┆ ---        ┆ i64          │
│           ┆        ┆ i64        ┆ i64       ┆ i64        ┆ i64       ┆ i64        ┆              │
╞═══════════╪════════╪════════════╪═══════════╪════════════╪═══════════╪════════════╪══════════════╡
│ 20170101  ┆ 33723  ┆ null       ┆ null      ┆ null       ┆ null      ┆ null       ┆ null         │
│ 20170102  ┆ 24165  ┆ 20170101   ┆ 33723     ┆ null       ┆ null      ┆ null       ┆ null         │
│ 20170103  ┆ 27503  ┆ 20170102   ┆ 24165     ┆ 20170101   ┆ 33723     ┆ null       ┆ null         │
│ 20170104  ┆ 36165  ┆ 20170103   ┆ 27503     ┆ 20170102   ┆ 24165     ┆ 20170101   ┆ 33723        │
│ ...       ┆ ...    ┆ ...        ┆ ...       ┆ ...        ┆ ...       ┆ ...        ┆ ...          │
│ 20170107  ┆ 23415  ┆ 20170106   ┆ 32387     ┆ 20170105   ┆ 37830     ┆ 20170104   ┆ 36165        │
│ 20170108  ┆ 24737  ┆ 20170107   ┆ 23415     ┆ 20170106   ┆ 32387     ┆ 20170105   ┆ 37830        │
│ 20170109  ┆ 26718  ┆ 20170108   ┆ 24737     ┆ 20170107   ┆ 23415     ┆ 20170106   ┆ 32387        │
│ 20170110  ┆ 20143  ┆ 20170109   ┆ 26718     ┆ 20170108   ┆ 24737     ┆ 20170107   ┆ 23415        │
└───────────┴────────┴────────────┴───────────┴────────────┴───────────┴────────────┴──────────────┘

---
> P-043： レシート明細データ（df_receipt）と顧客データ（df_customer）を結合し、性別コード（gender_cd）と年代（ageから計算）ごとに売上金額（amount）を合計した売上サマリデータを作成せよ。性別コードは0が男性、1が女性、9が不明を表すものとする。
>
> ただし、項目構成は年代、女性の売上金額、男性の売上金額、性別不明の売上金額の4項目とすること（縦に年代、横に性別のクロス集計）。また、年代は10歳ごとの階級とすること。

In [ ]:
gender_mapping = {
    '0': 'male',
    '1': 'female',
    '9': 'unknown'
}

(df_customer
    .join(df_receipt, how='left', on='customer_id')
    .with_columns([
        ((pl.col('age') / 10).floor() * 10).alias('era'),
        pl.col('gender_cd').apply(lambda x: gender_mapping[x]).alias('gender')
    ])
    .groupby(['gender', 'era']).agg(pl.col('amount').sum())
    .pivot(values='amount', index='era', columns='gender')
    .sort('era')
)

shape: (9, 4)
┌──────┬────────┬─────────┬─────────┐
│ era  ┆ male   ┆ unknown ┆ female  │
│ ---  ┆ ---    ┆ ---     ┆ ---     │
│ f64  ┆ i64    ┆ i64     ┆ i64     │
╞══════╪════════╪═════════╪═════════╡
│ 10.0 ┆ 1591   ┆ 4317    ┆ 149836  │
│ 20.0 ┆ 72940  ┆ 44328   ┆ 1363724 │
│ 30.0 ┆ 177322 ┆ 50441   ┆ 693047  │
│ 40.0 ┆ 19355  ┆ 483512  ┆ 9320791 │
│ ...  ┆ ...    ┆ ...     ┆ ...     │
│ 60.0 ┆ 272469 ┆ 71418   ┆ 987741  │
│ 70.0 ┆ 13435  ┆ 2427    ┆ 29764   │
│ 80.0 ┆ 46360  ┆ 5111    ┆ 262923  │
│ 90.0 ┆ null   ┆ null    ┆ 6260    │
└──────┴────────┴─────────┴─────────┘

---
> P-044： 043で作成した売上サマリデータ（df_sales_summary）は性別の売上を横持ちさせたものであった。このデータから性別を縦持ちさせ、年代、性別コード、売上金額の3項目に変換せよ。ただし、性別コードは男性を"00"、女性を"01"、不明を"99"とする。

In [ ]:
gender_mapping = {
    '0': '00',
    '1': '01',
    '9': '99'
}

(df_customer
    .join(df_receipt, how='left', on='customer_id')
    .with_columns([
        ((pl.col('age') / 10).cast(pl.Int16) * 10).alias('era'),
        pl.col('gender_cd').apply(lambda x: gender_mapping[x]).alias('gender')
    ])
    .groupby(['gender', 'era']).agg(pl.col('amount').sum())
    .sort(['era', 'gender'])
)

shape: (26, 3)
┌────────┬─────┬────────┐
│ gender ┆ era ┆ amount │
│ ---    ┆ --- ┆ ---    │
│ str    ┆ i16 ┆ i64    │
╞════════╪═════╪════════╡
│ 00     ┆ 10  ┆ 1591   │
│ 01     ┆ 10  ┆ 149836 │
│ 99     ┆ 10  ┆ 4317   │
│ 00     ┆ 20  ┆ 72940  │
│ ...    ┆ ... ┆ ...    │
│ 01     ┆ 80  ┆ 262923 │
│ 99     ┆ 80  ┆ 5111   │
│ 00     ┆ 90  ┆ null   │
│ 01     ┆ 90  ┆ 6260   │
└────────┴─────┴────────┘

---
> P-045: 顧客データ（df_customer）の生年月日（birth_day）は日付型でデータを保有している。これをYYYYMMDD形式の文字列に変換し、顧客ID（customer_id）とともに10件表示せよ。

In [ ]:
df_customer.select([
    'customer_id', 
    pl.col('birth_day').dt.strftime('%Y%m%d')
]).head(10)

shape: (10, 2)
┌────────────────┬───────────┐
│ customer_id    ┆ birth_day │
│ ---            ┆ ---       │
│ str            ┆ str       │
╞════════════════╪═══════════╡
│ CS021313000114 ┆ 19810429  │
│ CS037613000071 ┆ 19520401  │
│ CS031415000172 ┆ 19761004  │
│ CS028811000001 ┆ 19330327  │
│ ...            ┆ ...       │
│ CS015414000103 ┆ 19770809  │
│ CS029403000008 ┆ 19730817  │
│ CS015804000004 ┆ 19310502  │
│ CS033513000180 ┆ 19620711  │
└────────────────┴───────────┘

---
> P-046: 顧客データ（df_customer）の申し込み日（application_date）はYYYYMMDD形式の文字列型でデータを保有している。これを日付型に変換し、顧客ID（customer_id）とともに10件表示せよ。

In [ ]:
df_customer.select([
    'customer_id', 
    pl.col('application_date').str.strptime(pl.Date, "%Y%m%d")
]).head(10)

# Intで読んでいた場合
# df_customer.select(['customer_id', pl.col('application_date').cast(pl.Utf8).str.strptime(pl.Date, "%Y%m%d")]).head(10)

shape: (10, 2)
┌────────────────┬──────────────────┐
│ customer_id    ┆ application_date │
│ ---            ┆ ---              │
│ str            ┆ date             │
╞════════════════╪══════════════════╡
│ CS021313000114 ┆ 2015-09-05       │
│ CS037613000071 ┆ 2015-04-14       │
│ CS031415000172 ┆ 2015-05-29       │
│ CS028811000001 ┆ 2016-01-15       │
│ ...            ┆ ...              │
│ CS015414000103 ┆ 2015-07-22       │
│ CS029403000008 ┆ 2015-05-15       │
│ CS015804000004 ┆ 2015-06-07       │
│ CS033513000180 ┆ 2015-07-28       │
└────────────────┴──────────────────┘

---
> P-047: レシート明細データ（df_receipt）の売上日（sales_ymd）はYYYYMMDD形式の数値型でデータを保有している。これを日付型に変換し、レシート番号（receipt_no）、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

In [ ]:
df_receipt.select([
    'receipt_no', 
    'receipt_sub_no', 
    pl.col('sales_ymd').cast(pl.Utf8).str.strptime(pl.Date, "%Y%m%d")
]).head(10)

shape: (10, 3)
┌────────────┬────────────────┬────────────┐
│ receipt_no ┆ receipt_sub_no ┆ sales_ymd  │
│ ---        ┆ ---            ┆ ---        │
│ i64        ┆ i64            ┆ date       │
╞════════════╪════════════════╪════════════╡
│ 112        ┆ 1              ┆ 2018-11-03 │
│ 1132       ┆ 2              ┆ 2018-11-18 │
│ 1102       ┆ 1              ┆ 2017-07-12 │
│ 1132       ┆ 1              ┆ 2019-02-05 │
│ ...        ┆ ...            ┆ ...        │
│ 1102       ┆ 2              ┆ 2018-12-05 │
│ 1102       ┆ 1              ┆ 2019-09-22 │
│ 1112       ┆ 2              ┆ 2017-05-04 │
│ 1102       ┆ 1              ┆ 2019-10-10 │
└────────────┴────────────────┴────────────┘

---
> P-048: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）は数値型のUNIX秒でデータを保有している。これを日付型に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

In [ ]:
df_receipt.select([
    'receipt_no', 
    'receipt_sub_no', 
    pl.col('sales_epoch').cast(pl.Utf8).str.strptime(pl.Datetime, fmt='%s')
]).head(10)

shape: (10, 3)
┌────────────┬────────────────┬─────────────────────┐
│ receipt_no ┆ receipt_sub_no ┆ sales_epoch         │
│ ---        ┆ ---            ┆ ---                 │
│ i64        ┆ i64            ┆ datetime[μs]        │
╞════════════╪════════════════╪═════════════════════╡
│ 112        ┆ 1              ┆ 2018-11-03 00:00:00 │
│ 1132       ┆ 2              ┆ 2018-11-18 00:00:00 │
│ 1102       ┆ 1              ┆ 2017-07-12 00:00:00 │
│ 1132       ┆ 1              ┆ 2019-02-05 00:00:00 │
│ ...        ┆ ...            ┆ ...                 │
│ 1102       ┆ 2              ┆ 2018-12-05 00:00:00 │
│ 1102       ┆ 1              ┆ 2019-09-22 00:00:00 │
│ 1112       ┆ 2              ┆ 2017-05-04 00:00:00 │
│ 1102       ┆ 1              ┆ 2019-10-10 00:00:00 │
└────────────┴────────────────┴─────────────────────┘

---
> P-049: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）を日付型に変換し、「年」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

In [ ]:
df_receipt.select([
    'receipt_no', 
    'receipt_sub_no', 
    pl.col('sales_epoch').cast(pl.Utf8).str.strptime(pl.Datetime, fmt='%s').dt.year().alias('sales_year')
]).head(10)

shape: (10, 3)
┌────────────┬────────────────┬────────────┐
│ receipt_no ┆ receipt_sub_no ┆ sales_year │
│ ---        ┆ ---            ┆ ---        │
│ i64        ┆ i64            ┆ i32        │
╞════════════╪════════════════╪════════════╡
│ 112        ┆ 1              ┆ 2018       │
│ 1132       ┆ 2              ┆ 2018       │
│ 1102       ┆ 1              ┆ 2017       │
│ 1132       ┆ 1              ┆ 2019       │
│ ...        ┆ ...            ┆ ...        │
│ 1102       ┆ 2              ┆ 2018       │
│ 1102       ┆ 1              ┆ 2019       │
│ 1112       ┆ 2              ┆ 2017       │
│ 1102       ┆ 1              ┆ 2019       │
└────────────┴────────────────┴────────────┘

---
> P-050: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）を日付型に変換し、「月」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。なお、「月」は0埋め2桁で取り出すこと。

In [ ]:
df_receipt.select([
    'receipt_no', 
    'receipt_sub_no', 
    pl.col('sales_epoch').cast(pl.Utf8).str.strptime(pl.Datetime, fmt='%s').dt.strftime('%m').alias('sales_month')
]).head(10)

shape: (10, 3)
┌────────────┬────────────────┬─────────────┐
│ receipt_no ┆ receipt_sub_no ┆ sales_month │
│ ---        ┆ ---            ┆ ---         │
│ i64        ┆ i64            ┆ str         │
╞════════════╪════════════════╪═════════════╡
│ 112        ┆ 1              ┆ 11          │
│ 1132       ┆ 2              ┆ 11          │
│ 1102       ┆ 1              ┆ 07          │
│ 1132       ┆ 1              ┆ 02          │
│ ...        ┆ ...            ┆ ...         │
│ 1102       ┆ 2              ┆ 12          │
│ 1102       ┆ 1              ┆ 09          │
│ 1112       ┆ 2              ┆ 05          │
│ 1102       ┆ 1              ┆ 10          │
└────────────┴────────────────┴─────────────┘